.myscreen-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.myscreen-body {
    width: 70%;
    margin-left: 17em;
    margin-bottom: 120px;
}

.myscreen-body h1 {
    text-align: center;
    color: hsl(137, 98%, 21%);
    font-family: 'LXGW WenKai', 'Noto Sans SC', sans-serif;
}

.myscreen-body h2 {
    color: hsl(23, 82%, 55%);
    margin-bottom: 1em;
    font-family: 'ZCOOL XiaoWei', 'LXGW WenKai', 'Microsoft YaHei', sans-serif;
}

.myscreen-body h2 .anchor-link {
    text-decoration: none;
    opacity: 0.1;
}

.myscreen-body h2 .anchor-link:hover {
    opacity: 0.5;
}

.myscreen-body .content {
    margin-left: 1em;
    font-family: 'LXGW WenKai', 'Noto Sans SC', sans-serif;
    font-size: 1.1em;
}

.myscreen-body .content .QA {
    color: hsl(212, 97%, 27%);
    font: bold 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.myscreen-toc {
    list-style: none;
    padding: 0.25rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    position: fixed;
    width: 15rem;
}

.myscreen-toc li {
    padding: 0.25rem;
}

.myscreen-toc li a {
    text-decoration: none;
    color: gray;
    font-size: 1.25rem;
    padding: 0.75rem;
}

.myscreen-toc li a:hover {
    text-decoration: underline;
}

.myscreen-toc li .active {
    color: black;
}

.myscreen-section {
    scroll-margin-top: 120px;
}

.myscreen-section .ibm1969-pic {
    text-align: center;
}

.myscreen-section .ibm1969-pic img {
    width: 30%;
}

.notice {
    border: 1px solid rgba(51, 50, 50, 0.222);
    border-radius: 8px;
    background-color: hsl(25, 75%, 97%);
    padding: 10px;
    margin: 10px 0;
    font-family: 'ZCOOL XiaoWei', 'Noto Sans SC', sans-serif;
    font-size: 1.2em;
}

.notice a {
    text-decoration: none;
}

.notice a:hover {
    text-decoration: underline;
}
