.post-card {
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.post-card .img {
    width: 60%;
    border-radius: 50%;
}

.post-card a {
    text-decoration: none;
}

.post-card a:hover {
    text-decoration: underline;
}

.post-card .title {
    font-weight: bold;
}

.post-main {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.post-body {
    width: 60%;
    margin: 0 auto;
}

.post-body .button .button-right {
    display: block;
    margin-left: auto;
}