.short-shell-tip {
    border: 1px solid hsla(227, 6%, 28%, 0.324);
    padding: 20px;
}

.short-shell-tip code {
    text-align: center;
    font-size: 1.2em;
}

.short-shell-tip a {
    display: flex;
    justify-content: flex-end;
}

.short-shell-tip p {
    margin-left: 2em;
}