.ProverbCard {
    border: 1px dashed hsl(204, 2%, 47%);
}

.ProverbCard .Date {
    margin-left: 20px;
}

.ProverbCard .Proverb {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
}

.ProverbCard .Author {
    font-style: italic;
    text-align: center;
    margin-left: 500px;
}

.proverb-body {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
}